$background-body: #f5f5f5;

$background-primary: #8053ca;
$background-secondary: #f6f3fe;

$border: #e8e8ea;
$border-selection: #aca2bb;

$background-overlay: rgba(51, 51, 51, .5);
$background-notification: #161f29;
$background-notification-error: #3b2222;

$color-primary: #fff;
$color-secondary: #40424f;
$color-sub: #b2b1b9;

$color-success: #00e734;
$color-warning: #ffd00b;
$color-alert: #ff7171;
$color-alert-hover: #ff9e9e;
$color-disabled: #979797;
$color-border: #65778f;